<h2> Notifications </h2>

	<% $N = 0 %>
    <% @notifications.each do |n| %>
      <tr>
      	<h2>
        <td><%= n.content %></td>
        <td><%= link_to 'Destroy', n, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </h2>
        
      </tr>
      <% end %>
      <%= $NUMBER_OF_THE_NOTIFICATIONS = 0%>
      <%= link_to 'back' , users_path %>